// Blog Styles
.content-wrapper {
	.feature-image {
		display: block;
		margin-top: 0;
		img {
			width: 100%;
		}
	}
}

.box-wrapper {
	background: white;
	box-shadow: 0 0 2px $gray;
	padding: 30px;
}

.post-wrapper {
	@extend .box-wrapper;
	padding: 0 15px 15px;
	margin-bottom: 30px;
}

.post-wrapper header {
	margin-bottom: 1em;
	border-bottom: 1px solid $dark-tan;
	padding-bottom: 10px;
	figure {
		margin-left: -15px;
		margin-right: -15px;
	}
	h1 a, p {
		padding: 0;
		color: $dark-brown;
		font-family: $font-sans;
		display: inline-block;
	}
	p {
		color: $mid-brown;
		font-size: .95em;
	}

}

.comment-count {
	margin-bottom: 0;
}

.single-post .post-wrapper {
	padding-top: 0 !important;
}

// Responsive Video .embed-container
.content-wrapper .embed-container {
	margin-bottom: 2em;
}

.sidenote {
	border: 1px solid $dark-tan;
	padding: 20px 20px 0;
	border-radius: .5em;
	margin-bottom: 1em;
	h3 i {
		font-size: 1.2em;
		margin-right: .1em;
		color: $mid-brown;
	}

	p {
		font-family: $font-sans;
		color: $light-brown;
	}
}

.sidebar {
	margin-top: 2.5em;
	margin-left: 15px;
	margin-right: 15px;
}


.date {
	font-size: .9em;
	color: $light-brown;
}

figure {
	&.width-300 {
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
	}

	&.width-400 {
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
	}

	&.width-500 {
		max-width: 500px;
		margin-right: auto;
		margin-left: auto;
	}
}


// Blog Home Styles and archives
.blog {
	.blog-box {
		padding-top: 1em;
	}
	.thumbnail {
		& > a figure {
			margin-bottom: 0;
		}
		h2 {
			margin: .2em 0 .5em;
			a {
				color: $dark-brown;
				font-size: 1em;
				line-height: 1.1em;
				font-weight: $bold;
				display: inline-block;
			}
		}
	}
}

.btn-more {
	border: 1px solid $tomato;
	&:hover {
		background: $light-tomato;
		color: white;
	}
}

.page-template-archive, .archive, .search-results {
	@extend .blog;
	.search-field {
		width: 100%;
		padding: 10px 15px 10px 40px;
		font-size: 1.1em;
		height: auto;
		&:before {
			content: "<i class="fa fa-search"></i>";
			display: block;
		}
	}

	h2 {
		margin: 1em 0;
	}
}

.page-template-archive,
.archive {
	.blog-box {
		padding-top: 0;
	}
	.recent-result, .cat-result, .tag-result {
		margin-left: 20px;
	}
}

.page-template-archive, .search-results {
	.cat-result, .tag-result {
		display: none;
	}
}

.archive {
	&.category {
		.tag-result, .recent-result {
			display: none;
		}
	}
	&.tag {
		.cat-result, .recent-result {
			display: none;
		}
	}
}

.archive-search-box {
	@extend .box-wrapper;
	padding-top: 1.5em;
	margin-bottom: 2em;
	h1 {
		margin: 0 0 .45em;
	}
	.search-form {
		position: relative;
		label {
			position: absolute;
			top: 10px;
			left: 15px;
			font-size: 1.1em;
		}
	}
}

// Comment Styles

.commentlist  {
	list-style: none;
	padding-left: 0;

	li {
		background: white;
		box-shadow: 0 0 2px #ccc;
	    padding: 20px;
	    margin-bottom: 20px;
	}

	ol {
		list-style: none;
		padding-left: 40px;

		& > li {
			background: none;
			box-shadow: none;
		    padding: 0;
		    margin-bottom: 20px;
		}
	}
}

.comment-body {
	padding-left: 50px;
	margin-bottom: 40px;
	position: relative;
}

.avatar {
	position: absolute;
	left: 0;
	margin-right: 20px;
	border-radius: 2em;
	width: 40px;
	height: 40px;
	border: 1px solid $light-brown;
}

.comment-author {
	font-size: 2rem;
	font-weight: $semi-bold;
	text-transform: capitalize;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $gray;
}

.comment-parent-count {
	color: $light-brown;
	font-size: 1em;
	font-weight: normal;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	&:before {
		content: "#";
		font-size: .8em;
	}
}

.comment-meta a {
	color: $mid-brown;
	font-size: .8em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .5px;

	&.comment-edit-link {
		font-size: .8em;
		font-weight: $semi-bold;
		margin-left: .5rem;
	}
}

.comment-author-admin .comment-parent-count:before {
	content: none;
}

.comment-respond {
	margin: 2rem 0;

	.comment-form-comment {
		display: block;
	}

	label {
		font-family: $font-sans;
		font-weight: $semi-bold;
		color: $dark-brown;
	}

	textarea, input[type='text'] {
		width: 100%;
		border-radius: 6px;
		border: 1px solid $gray;
		font-family: $font-sans;
		padding: .25em;
	}

	.submit {
		@extend .btn;
		@extend .btn-primary;
		margin-top: 0;
		margin-bottom: 20px;
	}
}

.reply {
	font-size: .85em;
	i {
		font-size: .85em;
	}
}

.page_nav {
	overflow: hidden;
	text-align: center;
	margin: 0 2rem;
	display: block;
	a, span {
		display: none;
		float: left;
		background: white;
		padding: 6px 12px;
		margin-left: -1px;
		border: 1px solid $gray;
		text-decoration: none;
		line-height: 1.4;
		&.prev, &.next {
			display: block;
		}
	}
	.page-numbers {
		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			margin-left: 0;
		}
		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
	.dots {
		color: $light-brown;
	}
	.current {
		background: none;
		color: $light-brown;
	}
	a:hover {
		background: $tomato;
		color: white;
		border-color: $tomato;
	}
}

// Related Posts Plugin Styles
.bawmrp {
		overflow: hidden;
		@extend .box-wrapper;
		ul {
			display: table !important;
			width: 100% !important;
			padding: 0;
			a {
				display: block !important;
				font-size: 14px;
			}
			li {
				display: table-cell !important;
				width: 50% !important;
				border: 0 !important;
				padding-right: 10px !important;
				margin-bottom: 20px;
				img {
					width: 100%;
					padding-bottom: 10px;
				}
			}
		}
}

@media (min-width: 900px) {
	.bawmrp {
			ul {
				width: 100% !important;
				li {
					width: 25% !important;
					padding-right: 10px !important;
					margin-bottom: 0;
					img {
						padding-bottom: 10px;
					}
				}
			}
	}
}

@media (min-width: 767px) {

	.content-wrapper {
		margin-top: 2.5em;
		padding-left: 0;
		padding-right: 30px;
	}

	.blog-box .content-wrapper {
		padding-left: 15px;
		padding-right: 45px;
	}

	.post-wrapper header {
		margin-bottom: 2em;
		p {
			&.comment-count {
				float: right;
				display: inline-block;
			}
		}
	}

	.post-wrapper figure {
		figcaption {
			font-size: .95em;
		}
		&.half {
			width: 50%;
			&.right {
				margin: 10px 0 20px 30px;
				float: right;
			}
			&.left {
				margin: 10px 30px 20px 0;
				float: left;
			}
		}
	}

	.blog, .page-template-archive {
		.blog-box {
			padding-top: 0;
		}
	}

	.page-template-archive,
	.archive.category,
	.archive.tag,
	.search {
		.recent-result, .cat-result, .tag-result {
			margin-left: 0;
		}
		.post-box:first-child {
			.caption {
				padding: 30px;
				h2 {
					font-size: 1.647em;
				}
			}
		}
	}

	.post-box {
		padding: 0;

		.thumbnail {
			min-height: 700px;
		}

		&:first-child {
			h2 {
				font-size: 2em;
			}
			padding: 0 !important;
			.caption {
				padding: 40px 50px 30px;
			}
		}
	}

	.paged {
		.post-box {
			&:first-child {
				h2 {
					font-size: 1.647em;
				}
				.caption {
					padding: 30px;
				}
			}
		}
	}

	.page_nav {
		a, span {
			display: block;
		}
	}

	.comments-area {
	    padding-left: 0;
	    padding-right: 0;
	}

	.avatar {
		width: 60px;
		height: 60px;
	}

	.commentlist ol {
		padding-left: 80px;
	}

	.comment-body {
		padding-left: 80px;
	}

	.sidebar {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width: 991px) {
	.post-wrapper {
		padding: 20px 40px;

		figure.feature-image {
			margin-bottom: 3em;
			margin-left: -40px !important;
			margin-right: -40px !important;
		}
	}
	.post-box {
		&:nth-child(odd) {
			padding-left: 15px;
		}
		&:nth-child(even) {
			padding-right: 15px;
		}
	}

	.paged {
		.post-box {
			&:nth-child(odd) {
			padding-right: 15px !important;
			}
			&:nth-child(even) {
				padding-left: 15px !important;
			}

			&:first-child {
				padding-left: 15px !important;
				padding-right: 15px !important;
			}
		}
	}

	.page-template-archive .post-box, .archive .post-box, .search-results .post-box {
		&:nth-child(odd) {
			padding-right: 15px !important;
			padding-left: 0 !important;
		}
		&:nth-child(even) {
			padding-left: 15px;
			padding-right: 0;
		}
	}
}
