.footer {
	background: $chocolate;
	.footer-logo {
		margin-top: 5px;
	}
	h3 {
		color: white;
		font-size: 16px;
		font-weight: $semi-bold;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		a {
			color: white;
		}
	}
	p, a {
		color: #D7CCC8;
	}
	p {
		font-size: 14px;
		font-family: $font-sans;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			margin-bottom: 5px;
			a {
				font-size: 14px;
				i.fa {
					display: inline-block;
					width: 12px;
					margin-right: 5px;
				}
			}
		}
	}
	a:hover {
		text-decoration: none;
		color: $red;
	}
	.learn-more {
		font-size: 16px;
	}
}


.copyright {
	background: $chocolate-bg;
	p {
		color: white;
		font-family: $font-sans;
		font-size: 12px;
		letter-spacing: .5px;
	}
}

.my-link {
	color: white;
	&:hover {
		text-decoration: none;
	}
}


@media (min-width: 480px) {
	.made-by {
		text-align: right;
	}
}
@media (min-width: 767px) {
	.footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.copyright {
		padding-top: 20px;
		padding-bottom: 10px;
	}
}
