// Home Styles

h2.title {
	text-align: center;
	font-size: 1em;
	color: $light-brown;
	font-weight: $regular;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	z-index: 1;

	span {
		background: $egg-shell url('ui/ricepaper.png') top left;
		padding-left: 20px;
		padding-right: 20px;
	}

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background: $dark-tan;
		position: relative;
		top: .5em;
		z-index: -10;
	}
}

.home .btn-more {
	display: block;
	width: 200px;
	margin: 0 auto;
}
.home-recent-products {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	li {
		a {
			@extend .wrapper-bg;
			display: block;
			padding: 0;
			text-align: center;
			margin-bottom: 40px;
			.caption {
				padding: 15px;
				h3 {
					margin: 0 0 10px 0;
					font-size: 16px;
					font-weight: $semi-bold;
				}
				.price {
					font-weight: $bold;
				}
			}
			&:hover {
				box-shadow: 0 0 10px #ccc;
				h3 {
					color: $skyblue;
				}
				text-decoration: none;
			}
		}
		img {
			width: 100%;
			display: block;
		}
	}
}

.caption {
	.date {
		margin-bottom: 5px;
		display: block;
	}
	h3 {
		margin-bottom: .5em;
		font-weight: $semi-bold;
		line-height: 1.3;
		font-size: 1.2em;
	}
}

.thumbnail {
	padding: 0;
	border-radius: 0;
	border: 0;
	margin-bottom: 40px;
	.caption {
		padding: 30px;
	}
}

.blog-box {
	background: white url('ui/ricepaper.png') top left;
	padding-bottom: 40px;
	.thumbnail {
		box-shadow: 0 0 2px $gray;
	}
	h3 {
		margin-top: 0;
	}

	.btn-block {
		max-width: 250px;
		margin: 10px auto;
		display: block;
		border: 1px solid $tomato;
		&:hover {
			background: $skyblue;
			border-color: $skyblue;
			color: white;
		}
	}

}

.basics {

	.caption {
		text-align: center;
		padding: 10px;
	}
	.thumbnail {
		@extend .wrapper-bg;
		padding: 0;
		margin-bottom: 0;
		&:hover {
			text-decoration: none;
			box-shadow: 0 0 10px $gray;
			h3, h4 {
				color: $skyblue;
			}
		}
	}
	h3 {
		margin-top: 0;
		color: $dark-brown;
	}
	h4 {
		font-size: 1em;
		letter-spacing: 0;
		color: $light-brown;
		font-weight: $regular;
	}

	h2.title {
		span {
			background: $egg-shell url('ui/ricepaper.png') top left;
		}
	}
}

.newsletter-box {
	background: $skyblue;
	h2 {
		font-weight: $semi-bold;
		color: $dark-brown;
		margin-bottom: .25em;
		font-size: 1.75em;
		i {
			color: $light-blue;
		}
	}
	p {
		font-family: $font-sans;
		color: #eee;
		font-size: 1.2em;
	}
	.newsletter-text {
		margin: 0 auto 20px;
		text-align: center;
		float: none;
	}

	.form-inline .btn {
		display: block;
	    position: relative;
	    margin: 0 auto;
	    border-top-left-radius: 6px;
	    border-bottom-left-radius: 6px;
	    font-size: .9em;
			border: 0;
	}

	.form-inline input {
		border: 0;
	}

	.no-joke {
		text-align: center;
		font-size: .9em;
		margin: 1em 0 3em;
	}
}




@media (min-width: 767px) {
	h2.title {
	font-size: 1.4em;
	margin-top: 40px !important;
	margin-bottom: 40px !important;
	}

	.basics .thumbnail {
		height: auto;
		margin-bottom: 20px;
	}

	.newsletter-box .form-inline .btn {
		display: block;
	    position: absolute;
	    margin: 0;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	}
}

@media (min-width: 992px) {
	.first-post-image {
		background: red;
		margin-left: 0;
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;
	}
	.caption.first-post-caption {
		padding: 2.3em;
		h3 {
			font-size: 1.8em;
		}

		p {
			font-size: 1.1em;
		}
	}
}
