body {
	background-size: 240px auto;
}

.content-box {
	max-width: 1140px;
	margin: 0 auto;
}

.wrapper-bg {
	background: white;
	box-shadow: 0 0 2px $gray;
	overflow: hidden;
	padding: 20px;
}

figure {
	margin: 2em 0;
	img {
		width: 100%;
	}
}

@media (min-width: 767px) {
	.container-fluid {
		// padding-left: 40px;
		// padding-right: 40px;
	}
}
