.top-bar {
	background: $blue;
	overflow: hidden;
}
.nav-social {
	display: none;
	padding: 5px 0 !important;
	margin-bottom: 0;
	text-align: right;
	&:before {
		content: "Follow";
		color: white;
		font-weight: $semi-bold;
	}
	li {
		display: inline-block;
		position: relative;
		margin-right: 5px;
		margin-left: 5px;
	}
	a {
		display: inline-block;
		color: white !important;
		border-radius: 2rem;
		width: 30px;
		height: 30px;
		line-height: 32px !important;
		font-size: 18px;
		text-align: center;
		padding: 0 !important;

		&:hover {
			color: $blue !important;
			background: white !important;
			border: 0 !important;
		}
	}
}

.brand-box {
	margin-top: 40px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	.row {
		margin: 0;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row; /* works with row or column */
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
	.branding {
		-webkit-flex: 2 0 0;
		flex: 2 0 0;
	}
	.logo {
		display: inline-block;
		text-indent: -100%;
		overflow: hidden;
		width: 100%;
		height: 50px;
		margin: 20px auto 10px;
		background: url('ui/ss-logo.svg') no-repeat center center;
		background-size: auto 100%;
	}
	p {
		font-family: $font-sans;
		color: $chocolate;
		text-align: center;
	}
	.search-box {
		display: none;
		-webkit-flex: 1 0 0;
		flex: 1 0 0;
	}
}

.search-box {
	position: relative;
	i.fa-search {
		position: absolute;
		top: 15px;
		right: 10px;
		color: $chocolate;
	}
}

nav .container-fluid {
	max-width: 1200px;
	margin: 0 auto;
}

.navbar {
	background: $blue;
	margin-bottom: 0;
	border: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.navbar-inverse .navbar-toggle {
	border-color: $blue;
	&:hover {
		background: $blue-dark;
	}
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: $blue-dark;
}

.navbar-collapse {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	.search-box {
		padding: 0;
		input {
			margin: 0;
			background-color: $blue;
			border-color: $blue-lite;
			color: white;
			&::-webkit-input-placeholder {
			  color: $blue-lite; }

			&:-moz-placeholder {
			  /* Firefox 18- */
			  color: $blue-lite; }

			&::-moz-placeholder {
			  /* Firefox 19+ */
			  color: $blue-lite; }

			&:-ms-input-placeholder {
			  color: $blue-lite; }
		}
		i {
			color: $blue-lite;
		}
	}
	.navbar-nav {
		text-align: center;
		height: 100vh;
		margin: 0;
		li {
			border-bottom: 1px solid $blue-lite;
		}
	}
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-weight: $semi-bold;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: color .2s;
    transition: color .2s;
    letter-spacing: .25px;
	&:hover {
		color: $chocolate-text;
	}
}

.navbar-inverse .navbar-nav>li.current_page_item a {
	font-weight: $bold;
}

.navbar-toggle {
	float: none;
	border: none;
	color: white;
	font-weight: $semi-bold;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: none;
}

@media (min-width: 768px) {
	.navbar {
		background: none;
		position: relative;
	}
	.nav-social {
		display: block;
	}
	.navbar-inverse .navbar-nav>li>a {
		padding: 15px 20px;
		color: $chocolate;
		&:hover {
		color: $blue;
		}
	}
	.navbar-collapse {
		.navbar-nav {
			text-align: left;
			height: auto;
			border-top: 1px solid $choco;
			border-bottom: 1px solid $choco;
		}
		.search-box {
			display: none;
		}
	}
	.brand-box {
		.row {
			margin-right: -15px;
	    margin-left: -15px;
		}
		.logo {
			width: 306px;
			height: 74px;
			margin: 10px 0 10px;
		}
		p {
			text-align: left;
		}
		.search-box {
			display: block;
		}
	}
}

@media (min-width: 1190px) {
	.navbar {
		.container-fluid {
			padding: 0;
		}
	}
}
