$menu-height: 50px;

.top-bar {
	background: $blue;
	overflow: hidden;
}
.nav-social {
	display: none;
	padding: 5px 0 !important;
	margin-bottom: 0;
	text-align: right;
	&:before {
		content: "Follow";
		color: white;
		font-weight: $semi-bold;
	}
	li {
		display: inline-block;
		position: relative;
		margin-right: 5px;
		margin-left: 5px;
	}
	a {
		display: inline-block;
		color: white !important;
		border-radius: 2rem;
		width: 30px;
		height: 30px;
		line-height: 32px !important;
		font-size: 18px;
		text-align: center;
		padding: 0 !important;

		&:hover {
			color: $blue !important;
			background: white !important;
			border: 0 !important;
		}
	}
}

.brand-box {
	margin-top: 30px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	.row {
		margin: 0;
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
	}
	.branding {
		@include flex(2 0 0);
	}
	.logo {
		display: inline-block;
		text-indent: -100%;
		overflow: hidden;
		width: 100%;
		height: 60px;
		margin: 20px auto 10px;
		background: url('ui/ss-logo.svg') no-repeat center center;
		background-size: auto 100%;
	}
	p {
		font-family: $font-sans;
		font-weight: $semi-bold;
		color: $chocolate;
		text-align: center;
	}
	.search-box {
		display: none;
		@include flex(1 0 0);
	}
}

.search-box {
	position: relative;
	i.fa-search {
		position: absolute;
		top: 15px;
		right: 10px;
		color: $chocolate;
	}
}

nav .container-fluid {
	max-width: 1200px;
	margin: 0 auto;
}

.navbar {
	background: $blue;
	margin-bottom: 0;
	border: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.navbar-inverse .navbar-toggle {
	border-color: $blue;
	&:hover {
		background: $blue-dark;
	}
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: $blue-dark;
}

.navbar-collapse {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	.search-box {
		padding: 0;
		input {
			margin: 0;
			background-color: $blue;
			border-color: $blue-lite;
			color: white;
			&::-webkit-input-placeholder {
			  color: $blue-lite; }

			&:-moz-placeholder {
			  /* Firefox 18- */
			  color: $blue-lite; }

			&::-moz-placeholder {
			  /* Firefox 19+ */
			  color: $blue-lite; }

			&:-ms-input-placeholder {
			  color: $blue-lite; }
		}
		i {
			color: $blue-lite;
		}
	}
	.navbar-nav {
		text-align: center;
		height: 100vh;
		margin: 0;
		li {
			border-bottom: 1px solid $blue-lite;
		}
	}
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-weight: $semi-bold;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: color .2s;
    transition: color .2s;
    letter-spacing: .25px;
	&:hover {
		color: $chocolate-text;
	}
}

.navbar-toggle {
	float: none;
	border: none;
	color: white;
	font-weight: $regular;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: none;
}

@media (min-width: 768px) {
	.navbar {
		background: none;
		position: relative;
	}
	.nav-social {
		display: block;
	}
	.navbar-inverse .navbar-nav>li>a {
		padding: 0 20px;
		line-height: $menu-height;
		height: 50px;
		color: $chocolate;
		&:hover, &:focus {
		color: $blue;
		}
	}
	.navbar-collapse {
		max-width: 1140px;
		.navbar-nav {
			text-align: left;
			height: auto;
			border-top: 1px solid $choco;
			border-bottom: 1px solid $choco;
			li {
				border-bottom: 0;
			}
		}
		.search-box {
			display: none;
		}
	}
	.navbar-collapse .navbar-nav li.current_page_item {
		height: $menu-height;
		border-bottom: 4px solid $blue;
		a {
			color: $blue;
		}
	}
	.brand-box {
		margin-top: 30px;
		.row {
			margin-right: -15px;
	    margin-left: -15px;
		}
		.logo {
			width: 306px;
			height: 74px;
			margin: 10px 0 5px;
		}
		p {
			text-align: left;
		}
		.search-box {
			display: block;
		}
	}
}

@media (min-width: 1190px) {
	.navbar-collapse {
		margin-left: 30px !important;
		margin-right: 30px !important;
	}
	.navbar {
		.container-fluid {
			padding: 0;
		}
	}
}
