// Sidebar Styles
.sidebar .newsletter {
	margin-bottom: 30px;
	background: $blue-lite;
	padding: 24px;
	text-align: center;
	border-radius: 4px;
	img {
		width: 100%;
		max-width: 273px;
	}
	h2 {
		text-indent: -200%;
		margin: 15px auto 2px;
		width: 200px;
		height: 40px;
		overflow: hidden;
		background: url(ui/stay-in-the-mix-title.svg) no-repeat top left;
	}
	h3 {
		color: $chocolate;
		font-weight: $semi-bold;
		margin-top: 0;
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	p {
		font-size: 18px;
		line-height: 1.5;
		font-family: $font-sans;
		text-transform: none;
		font-weight: $regular;
		margin: 0 auto 20px;
		color: $gray-dark;
		max-width: 280px;
	}
	input.email {
		position: relative;
		border-color: $blue;
		color: $blue;
		&::-webkit-input-placeholder {
		   color: $gray;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: $gray;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: $gray;
		}

		&:-ms-input-placeholder {
		   color: $gray;
		}
	}
	.form-inline button {
		background: none;
		color: $blue;
		font-size: 24px;
		padding: 0;
	}
}

.sidebar-post-box {
	margin-bottom: 30px;
	padding-bottom: 5px;
	h3 {
		margin-top: 0;
		color: $chocolate-dark;
	}
}

.search-box {
	padding: 0 0 30px;
	.archive-message {
	    font-family: $font-sans;
	    font-size: .95em;
	    margin: 0 0 .5em 0;
	}
}

.sidebar-post {
	border-top: 1px solid $cream-dark;
	overflow: hidden;
	padding: 30px 0 20px;
	.thumb {
		padding-left: 0;
		padding-right: 0;
		display: block;
	}
	img {
		width: 100%;
		margin-bottom: 12px;
	}
	a:hover .sidebar-post-heading, a:hover {
		color: $red;
	}
}

.sidebar-post-body {
	margin-top: 10px;
	p {
		margin-bottom: 0;
	}
}

.sidebar-post-heading {
	font-weight: $semi-bold;
	margin: 0;
	color: $chocolate-text;
	line-height: 1.4;
	letter-spacing: 0;
	font-size: 18px;
	text-transform: none;
}
