a {
	color: $tomato;
	&:hover {
		color: $skyblue;
	}
}

h1, .jumbotron h1 {
	font-size: 1.8em;
	font-weight: $bold;
	color: $dark-brown;

	a {
		color: $dark-brown;
	}
}

h2 {
	font-weight: $regular;
	font-size: 1.647em;
	margin: 2em 0 1em;
	color: $dark-brown;
}

h3 {
	font-weight: $semi-bold;
	font-size: 1.294em;
	line-height: 1.4;
	color: $dark-brown;
}

h4 {
	font-weight: $semi-bold;
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.4;
	color: $dark-brown;
	margin-bottom: .5em;

}


p {
	line-height: 1.5;
	font-size: 1em;
	margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
	h1 {
	font-size: 2.1em;
	}
}
