// Woocommerce Styles
.archive .shop-sidebar {
	margin-top: 2.2em;
	padding-left: 0;

	.menu-title {
		background: $tomato;
		padding: 0 0	0 20px;
		line-height: 50px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		a {
			color: white;
			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}
	.product-categories {
		@extend .wrapper-bg;
		margin: 20px 0 30px 0;
		padding: 0;
	}
	ul {
		display: none;
		list-style: none;
		padding: 0;
		> li {
			line-height: 1;

			&.top-level {
				a {
					font-weight: $bold;
					padding: 20px 0 20px 20px;
					&.selected {
						color: $tomato;
					}
				}
			}
			&.sub-level {
				background: $egg-shell;
				a {
					font-weight: $regular;
					padding: 15px 0 15px 20px;
					&.selected {
						color: $tomato;
					}
				}
				&:first-child a {
					padding-top: 30px;
				}
				&:last-child a {
					padding-bottom: 30px;
				}
			}
		}
		a {
			color: $light-brown;
			display: block;
			&:hover {
				color: $skyblue;
			}
		}
	}
	.cart-buttons {
		.cart {
			border: 1px solid $tomato;
			width: 100%;
			display: none;
		}
	}
}

// Product Search Box
.product-search-field {
	@extend .wrapper-bg;
	padding: 14px 20px;
	width: 100% !important;
	border: 0;
	outline: 0;
}

.product-search-box {
	position: relative;
	display: none;
	i {
		position: absolute;
		right: 20px;
		top: 30%;
		color: $light-brown;
		font-size: 20px;
		z-index: 10;
	}
}

.product-search-results .entry a span.title {
	color: $light-brown;
}

.product-image {
	.thumbnail {
		margin-bottom: 0;
	}
}

.archive.tax-product_cat {
	h2 {
		display: block;
	}
}

.archive.woocommerce .content-wrapper {
	padding-left: 15px;
	padding-right: 15px;
}

.woocommerce-ordering {
	select {
		border: 1px solid $light-brown;
		background: white;
		height: 30px;
		font-size: 14px;
		color: $light-brown;
	}
}
.woo-store {
	header {
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		border-bottom: 1px solid $dark-tan;
		h1.page-title {
			float: left;
			margin-bottom: 10px;
		}
		h2 {
			display: none;
		}
		.woocommerce-result-count {
			font-family: $font-sans;
			float: right;
			display: block;
			font-size: .9em;
			color: $light-brown;
		}
	}
}

.woocommerce {
	.woocommerce-info,
	.woocommerce-message,
	.woocommerce-error {
		margin-bottom: 2rem;
		@extend .box-wrapper;
	}
	#respond input#submit,
	a.button,
	button.button,
	input.button {
		@extend .btn;
		display: block;
		border: 1px solid $tomato;
		text-align: center;
		font-family: $font-sans;
		background: white !important;
		color: $tomato !important;
		margin-top: 0;
		&:hover {
			background: $tomato !important;
			color: white !important;
		}
	}

	.summary {
		padding-bottom: 1em;
		.price {
			color: $light-brown !important;
			font-family: $font-sans;
			ins, del {
				color: $mid-brown;
			}
		}
		span.amount {
			font-size: 32px;
		}
	}
	.upsells, .related {
		clear: both;
	}
	span.amount {
		color: $tomato;
		font-weight: $bold;
		font-size: 1.2em;
		display: block;
		margin: 5px 0 10px;
	}
	table span.amount {
		color: $mid-brown;
		font-weight: $semi-bold;
	}
	form.cart {
		.input-text {
			max-width: 70px;
	    height: 44px;
	    border-radius: 3px;
	    font-size: 20px;
	    color: $mid-brown;
	    font-weight: 600;
	    border: 1px solid #ccc;
			text-align: center;
		}
	}
}

.woocommerce div.product form.cart div.quantity {
	margin-right: 10px;
}

.woocommerce-variation-add-to-cart {
	.quantity {
		display: inline-block;
		margin-right: 10px;
	}
	button.button {
		max-width: 200px;
		display: inline-block;
	}
}

.archive.woocommerce ul.products li.product {
		margin: 0 0 2.992em 0;
		width: 48%;
}

.woocommerce ul.products {
	padding: 0;
	display: block;
	width: 100%;
	overflow: visible;
	list-style: none;
	li.product {
		a {
			@extend .wrapper-bg;
			padding: 0;
		}
		a:first-of-type {
			display: block;
			overflow: hidden;
		}

		img {
			width: 100%;
			margin-bottom: .5em;
		}


		a:hover {
			box-shadow: 0 0 10px #999;
			h3, .price, .price span {
			color: $skyblue !important;
			}
		}

	}

	h3 {
		display: block;
		font-size: .95em;
		text-align: center;
		width: 100%;
		margin-bottom: 0 !important;
		padding: 0 !important;
	}

	.price  {
		text-align: center;
		width: 100%;
		display: inline-block;
		color: $light-brown !important;
		del {
			display: none;
		}

		ins {
			text-decoration: none;
		}
	}
}

.woocommerce-pagination {
	display: block;
	overflow: hidden;
	margin-bottom: 60px;
	ul.page-numbers {
	    border-radius: 4px;
	    border: 0 !important;
	    li {
	    	border: 0 !important;
	    	span, a {
	    		position: relative;
			    float: left;
			    margin-left: 5px !important;
			    color: $tomato;
			    background-color: #fff;
			    border: 1px solid #ddd;
			   	cursor: pointer;
			    &:hover {
			    	cursor: pointer;
			    	background: $tomato !important;
			    	color: white !important;
				    border-color: $tomato;
			    }
	    	}
	    	&:first-child span {
	    	}
	    	&:last-child span, &:last-child a {
	    	}
	    }
	}
}

.woocommerce .woocommerce-breadcrumb {
	margin: 20px 0;
	font-size: 14px;
	color: #aaa;
	a, i {
	color: #aaa;
	}
	i {
		display: inline-block;
		padding: 0 10px;
	}
}

.woocommerce.single-product {
	.images {
		overflow: hidden;
		.woocommerce-main-image {
			display: block;
			width: 100%;
			img {
				width: 100%;
			}
		}
		.thumbnails {
			margin: 20px 0;
			width: 100%;
			a {
				display: inline-block;
				width: 32.4% !important;
				margin: 0;
				&:first-child {
					padding-right: 2%;
				}
				&:nth-child(2) {
					padding-left: 1%;
					padding-right: 1%;
				}
				&:last-child {
					padding-left: 2%;
				}
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

.woocommerce div.product form.cart .variations {
	width: 100%;
	margin: 30px 0;
	td.label {
		display: block;
		text-align: left;
		padding: 0;
		label {
			@extend h4;
			font-size: 1.2em;
		}
	}
	td.value {
		display: block;
		position: relative;

		.fa-angle-down {
			position: absolute;
			top: 30%;
			right: 20px;
		}
	}
	select {
		width: 60%;
		height: 44px;
		padding: 0 10px;
		border-radius: 3px;
		margin-right: 10px;
		-webkit-appearance: none;
		outline: none;
		background: transparent;
		color: $mid-brown;
	}
}

.reset_variations {
	margin-top: .5em;
	font-size: .9em;
	display: block;
}

.woocommerce-variation-price {
	margin-bottom: 5px;
}

.single_add_to_cart_button.btn-primary {
	margin-top: 0;
}

p.stock.in-stock {
	display: none;
}

.dimension-box {
	h3 {
		margin-bottom: .25em;
	}
	p {
		font-family: $font-sans;
		font-size: 1em;
		color: $mid-brown;
		margin-bottom: 0;
	}
	margin-bottom: 1em;
}

.entry-summary {
	ul {
		padding: 0;
		margin-bottom: 2em;
		list-style: none;
	}
}

// Product Tab Styles
.woocommerce-tabs {
	margin: 40px 0;
	h2 {
		margin-top: 1em;
	}
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding-left: .5em;
	li {
		background-color: $light-gray;
		border: 1px solid $light-gray;
		border-radius: 3px 3px 0 0;
		margin: 0;
		padding: 0 1em;
		a {
			padding: 1em 0;
			text-transform: uppercase;
	    font-size: 11px;
	    letter-spacing: 1px;
		}
	}
}


.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: white;
	border: 1px solid $gray;
  border-bottom-color: white;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	content: none;
}

// Google Block next to Related products
.related-products {
	h2 {
		margin-top: 1em;
		border-bottom: 1px solid $light-brown;
		padding-bottom: 20px;
	}
}

.related-block {
	margin: 0 auto 30px;
	max-width: 300px;
	height: 270px;
	position: relative;
	&:before {
		content: "Advertisement";
		position: absolute;
		bottom: -5px;
		right: 0;
		color: $light-brown;
		font-size: .8em;
		letter-spacing: .5px;
	}
}

// Side-wide message
p.demo_store {
	bottom: 0;
	position: fixed;
	top: auto !important;
}

// Cart Styles
.woocommerce-cart,
.woocommerce-checkout,
.woocommerce-order-received {
	.content-wrapper {
		width: 100%;
		padding-right: 15px;
		.post-wrapper {
			background: none;
			box-shadow: none;
		}
	}
}
.woocommerce-cart {

	.woocommerce > form {
		@extend .box-wrapper;
		padding: 15px !important;
	}

	.shop_table {
		width: 100%;
		font-size: .85em;
		margin-bottom: 0 !important;
		border: none !important;
		border-collapse: collapse !important;
		border-color: $dark-tan;
		thead th {
			padding: 2rem 0;
			font-weight: $semi-bold;
			color: $dark-brown;
		}
		tbody tr {
			border-top: 1px solid $dark-tan;
			td {
				padding: 2rem 0;
				border: 0;
			}
		}
		th.product-price,
		th.product-thumbnail {
			display: none;
		}

		.product-quantity {
			.input-text {
				width: 50px;
			}
		}

		.cart_item {
			.product-thumbnail, .product-price {
				display: none;
			}
		}

		.product-remove {
			padding-right: 10px;
			padding-left: 10px;
			a {
				display: inline-block;
				background: $light-brown;
				color: white !important;
				width: 14px;
				height: 14px;
				line-height: 14px;
				text-align: center;
				border-radius: 2em;
				font-weight: $semi-bold;
				&:hover {
					text-decoration: none;
					background: $tomato;
				}
			}
		}

		.variation {
			dt,dd {
				display: block !important;
				float: none !important;
			}
			p {
				font-family: $font-sans;
			}
		}

		.product-thumbnail {
			a {
				display: block;
			}
			img {
				width: 80px;
				height: auto;
			}
		}

		.coupon {
			overflow: hidden;
			float: left;
			label {
				font-family: $font-sans;
				color: $light-brown;
				font-weight: $semi-bold;
				display: none;
			}
			.input-text {
				padding: 6px;
				margin-right: 10px;
				margin-bottom: 10px;
				font-family: $font-sans;
				float: left;
				width: 120px !important;
			}
			input[type="submit"] {
				float: left;
				margin: 0;
				border-color: $dark-tan;
				color: $light-brown;
				&:hover {
					color: $mid-brown;
					background: white;
					border-color: $light-brown;
				}
			}
		}
		.actions {
			padding-top: 40px;
			padding-bottom: 0;
		}
		.action-group {
			overflow: hidden;
			width: auto;
			.button-update-cart {
				margin: 0;
				display: inline-block;
			}
		}
	}
}
.woocommerce-checkout, .woocommerce-order-received {
	article {
		margin: 0 auto;
		float: none;
	}
}
.woocommerce-checkout {

	.checkout {
		input, textarea {
			width: 100%;
			padding: .25em .5em;
			font-family: $font-sans;
			border: 1px solid $gray;
		}
		h3, h3 label {
			font-size: 28px;
			font-weight: $regular;
		}
	}

	form.checkout_coupon,
	form.login,
	form.register {
		@extend .box-wrapper;
	}

	.woocommerce-billing-fields,
	.woocommerce-shipping-fields,
	.woocommerce-checkout-review-order {
		@extend .box-wrapper;
		padding: 15px;
		margin-bottom: 2em;
		label, strong {
			display: block;
			font-size: .9em;
			font-family: $font-sans;
			color: $dark-brown;
		}
	}

	.woocommerce-shipping-fields {
		textarea {
			min-height: 150px;
		}
	}

	.state_select {
		font-family: $font-sans !important;
	}

	#order_review_heading {
		font-weight: $bold;
		color: $dark-brown;
		font-size: 1.8em;
	}

	.woocommerce-checkout-review-order {
		table {
			width: 100%;
			border-collapse: collapse;
			border: 0;
			tr {
				border-bottom: 1px solid $dark-tan;
			}
			th {
				font-weight: $semi-bold;
			}
			td {
				padding: 1em;
			}
			thead th {
				padding: 1em;
			}
			tfoot th {
				background: $egg-shell;
				padding: 1em;
			}
			.amount {
				font-size: 1.2em;
			}
		}
		.payment_methods {
			list-style: none;
			padding: 0;
			.payment_box p {
				font-family: $font-sans;
			}
		}
	}

	input#place_order {
		@extend .btn;
		font-size: 14px;
		padding: 0 22px;
		max-width: 250px;
		line-height: 50px;
		height: 50px;
		margin: 0 auto;
		float: none !important;
		color: white !important;
		background: $tomato !important;
		&:hover {
			background: $dark-blue !important;
		}
	}
}

.woocommerce-order-received {
	.post-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}

	.woocommerce {
		@extend .box-wrapper;
		padding: 30px 15px;
		h2 {
			border-bottom: 1px solid $dark-tan;
			padding-bottom: 1.5rem;
		}
		table {
			width: 100%;
			border-collapse: collapse !important;
			border: 0;
			th, td {
				padding: 1rem 0;
				border-color: $dark-tan !important;
			}
		}
		header {
			border: 0;
			margin: 0;
			padding: 0;
		}
		.customer_details {
			margin-bottom: 2rem;
		}
		.thank-you-text {
			font-size: 1.2em;
		}
	}
	ul.order_details {
		padding-left: 0;
		list-style: none;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		li {
			line-height: 2;
			color: #333;
			font-size: 14px;
			border: 0;
		}
	}
}

#ship-to-different-address {
	display: block;
	width: 100%;
	overflow: hidden;
	br {
		display: none;
	}
	label, .input-checkbox {
		float: left;
		margin: 0;
	}
	.input-checkbox {
		width: 30px;
		margin: 15px 0 0 10px;
	}
}

.woocommerce-message {
	@extend .box-wrapper;
	border-top: 4px solid $tomato;
	margin: 1em 0;
	padding: 1em;
	overflow: hidden;
	.button {
		max-width: 250px;
		float: right;
		margin: 0;
	}
}



.cart-collaterals {
	font-size: .85em;
	margin: 3rem 0;
	.cart_totals {
		@extend .box-wrapper;
		padding: 15px;
	}
	h2 {
		font-weight: $bold;
		margin-top: 1em;
	}
	table {
		width: 100%;
		tr {
			border-top: 1px solid $dark-tan;
		}
		th {
			font-weight: $semi-bold;
		}
		td {
			padding: 1em 0;
		}
		.shipping td {
			text-align: right;
		}

		.amount {
			display: block;
		}
	}

	tr.order-total {
		font-size: 1.25em;
	}
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	color: white !important;
	position: relative;
	background: $tomato !important;
	padding: 0 18px;
	line-height: 50px;
	height: 50px;
	font-size: 14px;
	&:hover {
		background: $dark-blue !important;
		border-color: $dark-blue !important;
	}
}

@media (max-width: 481px) {
	.woocommerce-billing-fields,
	.woocommerce-shipping-fields,
	.woocommerce-checkout-review-order {
		.form-row {
			display: block;
			float: none !important;
			width: 100% !important;
		}
	}

}

@media (min-width: 768px) {
	.product-search-box {
		display: block;
	}
	.archive .content-box {
		padding-left: 30px;
		padding-right: 15px;
	}
	.archive.woocommerce ul.products li.product {
		padding-left: 8px;
    padding-right: 8px;
		width: 33.33333333%;
	}
	.archive.woocommerce ul.products li.product.last {
		padding-left: 15px;
    padding-right: 0;
	}
	.archive.woocommerce ul.products li.product.first {
		padding-left: 0;
    padding-right: 15px;
	}
	.woo-store {
		header h2.shop-title {
			display: block;
			margin: 0;
			float: left;
			font-size: 32px;
			font-weight: $bold;
			padding-bottom: 10px;
		}
	}
	.archive .shop-sidebar {
		form {
			display: block;
		}
		ul {
			display: block;
		}
		.cart-buttons {
			.cart {
				display: block;
				&:hover {
					background: $tomato;
					color: white;
				}
			}
		}
	}
	.archive.woocommerce .content-wrapper {
		padding-left: 30px;
	}

	.woocommerce.single-product {
		.images, .summary {
			width: 50% !important;
		}
	}

	.cart-collaterals {
		.cart_totals {
			padding: 30px;
		}
	}

.woocommerce-cart{
	.woocommerce > form {
		padding: 30px !important;
	}
	.shop_table {
		font-size: 1em;
		th.product-price,
		th.product-thumbnail {
			display: block;
		}
		.product-remove {
			padding-right: 20px;
			padding-left: 20px;
			a {
				width: 20px;
				height: 20px;
				line-height: 20px;
			}
		}
		.cart_item {
			.product-thumbnail, .product-price {
				display: block;
			}
		}
		.coupon {
			width: 50%;
		}
		.action-group {
			width: auto;
			float: right;
			margin-bottom: 0;
			.btn-checkout {
				display: inline-block;
				margin: 0 0 0 1rem;
			}
		}

	}
	.cart-collaterals {
		font-size: 1em;
	}
}

.woocommerce-checkout {
	.woocommerce-billing-fields,
	.woocommerce-shipping-fields,
	.woocommerce-checkout-review-order {
		padding: 3rem;
		margin-bottom: 2em;
	}
	#order_review_heading {
		font-size: 2.1em;
	}
}

.woocommerce-order-received {
	.woocommerce {
		padding: 30px;
	}
}

.related-block {
	margin-top: 4.5em;
}

}

@media (min-width: 1199px) {
	.archive .content-box {
		padding-left: 15px;
	}
}
